html,body{
	background: url(../img/6.jpg) no-repeat center center fixed ;
	background-size: cover;
	background-color: #79ff79;
	margin: 0;
	height: 100%;
	width: 100%;
}
img{
	opacity: 0.2;
}
h1{
	text-align: center;
}
p{
	text-align: center;
}
#enter{
	width: 100%;
}
a{
	text-decoration: none;
	
}
h1{
	
}
.btn {
  color: black;
  font-size: 0.8em;
  padding: 10px 10px;
  text-decoration: none;
  border: 1px solid red; 
}
li{
	display:inline-block;
}
