<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>狗仔隊</title>
<meta charset='utf-8'>
<link rel='stylesheet' href="{% static 'main/css/reason.css' %}">
</head>
<body>
<h2>狗仔隊之更多知識</h2>
{% include 'main/menu.html' %}
<div id=reason>
<h1>基本照料</h1>
<h3>眼睛：</h3>
<p>狗眼汪汪是蠻可愛的，但照顧的功夫可不能少。尤其是眼睛大而外凸、眼腺分泌物多、 <br>
或眼睛周圍皺紋很多的狗（如西施犬、八哥犬），更要悉心照顧。<br>
平日可用濕巾或濕棉團輕輕地擦拭狗眼睛的四周，進行眼部清潔。<br>
另外也有狗的眼藥水，可以斟酌使用。但是因為睫毛倒生而引起的流淚或分泌物增加，就要向獸醫生報到了。 </p>
<hr>
<h3>耳朵：</h3>
<p>
	<ul>
		<li>狗的耳道是「J」字型，很容易堆積髒東西，若一直沒有清理，還會因此產生臭味。</li><br>
		<li>狗的耳朵裡有污垢，可用棉花棒（或沾嬰兒油）拭淨。</li><br>
		<li>如果是耳朵會長毛的長毛狗，則要定時的拔除耳內長毛以利清潔（如貴賓狗</li><br>
		<li>發現狗有甩耳朵、用後腳猛搔耳朵的情況，多半是耳朵發炎了，要去獸醫院治療。 </li>
	</ul>
</p>
<hr>
<h3>牙齒：</h3>
<p>你可能忽略了，狗也是要刷牙的，才不會一張口就薰壞大家。<br>
平日狗主人可以用食指纏紗布，沾點鹽水仔細按摩狗狗的牙齒及牙齦，等愛犬比較習慣之後，<br>
還有狗專用的牙刷可以選購，不過狗不喜歡人類用的牙膏，最好不要使用。</p>
<hr>
<h3>肛門：</h3>
<p>狗狗肛門附近的毛要時常修剪，不然會沾到排泄物。狗的肛門兩側有肛門線，是會發生臭味分泌物的腺體，<br>
把狗狗送到寵物美容院去洗澡時，都會有擠肛門腺的步驟，不過這對一般狗主人來說，可能會有點困難，<br>
正確的步驟需要請教醫生。不然狗會因為肛門腺阻塞而在地上磨擦屁股，造成發炎、潰爛。 
</p>
<hr>
<h3>指甲：</h3>
<p>很多狗主人都不敢剪狗指甲，大部分的原因是「怕剪出血來」，其實剪狗的指甲是有方法的。<br>
如果是會透光的淡色指甲，可以在指甲中看見紅色的血管通過，使用專用的指甲剪修剪到血管之前， 避開紅色的部分即可。<br>
如果不慎剪的太過而流血，不要慌，按壓住讓血流自動停止，或是買止血粉來處理， 但下回狗狗可會因為怕痛而不讓主人剪指甲了。<br>
如果是黑色指甲，就可以像削鉛筆似地逐步修剪，剪到腳指甲將彎曲的地方就可以了，這樣也不會剪到血管。<br>
一般來說，大型犬（體重較重的狗），因為常常行走，指甲會磨損，幾乎可以不必修剪，但對於長期在室內的小型犬來說，爪子很容易長長，<br>
如果不注意修剪，太長的指甲會變成勾型，刺進肉裡，造成發炎的現象或不良於行。</p>
</div>
<div>
<hr>
<p class=main>愛牠請不要丟棄牠，給狗狗一個溫暖幸福的家</p>
<p class=main>Write by：資管2B 10414110 林政騰 ， 10414029 管羿筑 ， 10414083 林信安</p>
<br>
</div>


</body>
</html>